.partner-logos {
  padding: 40px 20px;
  background-color: #f9f9f9;

  &__title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    
  }

  &__carousel {
    .partner-logos__list {
      display: flex; /* Align items in a row */
      justify-content: space-between; /* Space out the items */
      flex-wrap: nowrap; /* Prevent wrapping to the next line */
      overflow-x: auto; /* Enable horizontal scroll if needed */
      gap: 20px; /* Space between cards */
      
    }

    .partner-logo-card {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 180px; /* Fixed width for rectangular card */
      height: 100px; /* Fixed height for rectangular card */
      background-color: white;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease;

      &:hover {
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
      }

      .partner-logo {
        max-width: 100%;
        max-height: 80%;
        object-fit: contain;
      }
    }
  }
}
