.appBar {
  background-color: #ffffff !important; /* White background */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.outerContainer {
  display: flex;
  justify-content: center; /* Center contents horizontally */
  width: 100%;
}

.toolbar {
  display: flex;
  justify-content: space-between; /* Spread items within the toolbar */
  align-items: center; /* Vertically center items */
  width: 100%;
  max-width: 1200px; /* Limit width for large screens */
  padding: 0 20px;

  @media (max-width: 768px) {
    padding: 0 15px; /* Slightly reduce padding for medium screens */
  }

  @media (max-width: 480px) {
    padding: 0 10px; /* Reduce padding for smaller screens */
  }
}

.logo {
  font-weight: bold;
  color: #3b3b3b;
}

.menu {
  display: flex;
  gap: 20px;
  align-items: center;

  @media (max-width: 768px) {
    display: none; /* Hide menu on smaller screens */
  }
}

.menuItem {
  font-weight: 500;
  color: #3b3b3b;
  cursor: pointer;

  &:hover {
    color: black;
  }
}

.buttonOutline {
  border-color: #636363;
  color: #3b3b3b;
  font-weight: 500;
  text-transform: none;

  &:hover {
    border-color: black;
    color: black;
  }
}

.buttonContained {
  background-color: #1976d2;
  color: white;
  font-weight: 500;
  text-transform: none;

  &:hover {
    background-color: #115293;
  }
}

.hamburger {
  display: none !important; /* Ensure it's hidden on large screens */

  @media (max-width: 768px) {
    display: block !important; /* Ensure it's visible only on smaller screens */
    color: gray;
  }
}


.drawer {
  width: 250px;
  padding: 10px;
}

.closeIcon {
  color: gray;
}

.drawerItem {
  color: #636363;
  font-weight: 500;
}

.drawerButtonOutline {
  border-color: #636363;
  color: #636363;
  width: 100%;
  text-transform: none;

  &:hover {
    border-color: black;
    color: black;
  }
}

.drawerButtonContained {
  background-color: #1976d2;
  color: white;
  width: 100%;
  text-transform: none;

  &:hover {
    background-color: #115293;
  }
}
