/* Topbar.module.scss */

.appBar {
  background-color: #ffffff !important; /* White background */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1200; /* Ensure this z-index is below the modal */
}

.outerContainer {
  display: flex;
  justify-content: center; /* Center contents horizontally */
  width: 100%;
}

.avatar{
  width: 30px;
  height: 30px;
}

.toolbar {
  display: flex;
  justify-content: space-between; /* Spread items within the toolbar */
  align-items: center; /* Vertically center items */
  width: 100%;
  max-width: 1200px; /* Limit width for large screens */
  padding: 0 20px;

  @media (max-width: 768px) {
    padding: 0 15px; /* Slightly reduce padding for medium screens */
  }

  @media (max-width: 480px) {
    padding: 0 10px; /* Reduce padding for smaller screens */
  }
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logo {
  font-weight: bold;
  color: #3b3b3b;
  height: 40px; // Adjust the height as per your logo
  width: auto;
}

.menu {
  display: flex;
  gap: 20px;
  align-items: center;

  @media (max-width: 768px) {
    display: none; /* Hide menu on smaller screens */
  }
}

.menuItem {
  font-weight: 500;
  color: #3b3b3b;
  cursor: pointer;

  &:hover {
    color: black;
  }
}

.dropmenu{
  width: 100%;
}

.buttonOutline {
  border-color: #1976d2;
  color: #1976d2;
  background-color: #ffffff;
  font-weight: 600;
  text-transform: none;
  width: 120px; /* Same width for consistency */
  height: 40px; /* Same height for consistency */

  &:hover {
    border-color: black;
    color: black;
  }
}

.buttonContained {
  background-color: #1976d2;
  color: white;
  font-weight: 500;
  font-size: 12px;
  text-transform: none;
  width: 220px; /* Same width for consistency */
  height: 40px; /* Same height for consistency */

  &:hover {
    background-color: #115293;
  }
}

.hamburger {
  display: none !important; /* Ensure it's hidden on large screens */

  @media (max-width: 768px) {
    display: block !important; /* Ensure it's visible only on smaller screens */
    color: gray;
  }
}

.drawer {
  width: 250px;
  padding: 10px;
}

.closeIcon {
  color: gray;
}

.drawerItem {
  color: #636363;
  font-weight: 500;
}

.drawerButtonOutline {
  border-color: #1976d2;
  color: #1976d2;
  border-radius: 4px;
  background-color: #ffffff;
  width: 120px; /* Same width for consistency */
  height: 40px; /* Same height for consistency */
  text-transform: none;

  &:hover {
    border-color: rgb(77, 77, 77);
    color: rgb(77, 77, 77);
  }
}

.drawerButtonContained {
  background-color: #1976d2;
  color: white;
  width: 220px; /* Same width for consistency */
  height: 40px; /* Same height for consistency */
  text-transform: none;

  &:hover {
    background-color: #115293;
  }
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modalContent {
  background: white;
  padding: 20px;
  border-radius: 10px;
  position: relative;
}

.closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.userName {
  color: #636363;
  
}