.articleSection {
  padding-top: 20px;

  .articleHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    .articleTitle {
      font-size: 24px;
      font-weight: bold;
      margin: 0;
    }

    .carouselArrows {
      display: flex;
      gap: 0px;

      .arrow {
        background: none;
        border: none;
        font-size: 16px;
        cursor: pointer;
        padding: 5px;

        &:hover {
          color: #1976d2; /* Highlight on hover */
        }
      }
    }
  }

  .carouselContainer {
    .articleCard {
      margin: 5px;
      transition: transform 0.3s;
      height: 260px;
      padding: 0px; /* Reduced padding inside the card */

      &:hover {
        transform: scale(1.02); /* Slight zoom on hover */
      }

      .ant-card-meta-title {
        font-size: 14px; /* Adjust the title font size */
      }

      .ant-card-meta-description {
        font-size: 8px; /* Adjust the description font size */
      }
    }

    .slick-prev,
    .slick-next {
      display: none; /* Default arrows are hidden */
    }
  }

  .articleCardLink {
    text-decoration: none;

    img {
      width: 100%;
      height: 120px;
    }
  }
}
