.profileContainer {
  max-width: 1200px;
  // margin: 0 auto;
  // padding: 20px;
  padding-top: 10px;
  // box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: 768px) {
    flex-direction: row;
    align-items: flex-start;
    padding-right: 20%;
    width: 100%;
  }
}

.leftColumn {
  @media (min-width: 768px) {
    width: 30%;
  }
}

.rightColumn {
  @media (min-width: 768px) {
    width: 70%;
    padding-right: 20px;
  }
}

.hr {
  color: #dfdfdfb5;
  border: 0.05em;
  border-style: solid;
  margin-top: 20px;
}


.profileTabs {
  width: 100%;
  padding-right: 20px;
}

.profileCard {
  width: 30%;
  margin-left: 20px;
}