.featuredJobs {
    padding: 0px;
    background-color: #f9f9f9;
    
    .title {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 20px;
      text-align: left;
      color: #333;
    }
  
    .jobCard {
      background: #ffffff;
      border: 1px solid #ddd;
      border-radius: 8px;
      padding: 20px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      text-align: left;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
  
      &:hover {
        transform: translateY(-10px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
      }
  
      .jobTitle {
        font-size: 18px;
        font-weight: bold;
        color: #333;
        margin: 0 0 10px;
      }
  
      .company,
      .location {
        font-size: 14px;
        color: #777;
        margin: 0;
      }
    }
  
    /* Responsive design */
    @media (max-width: 1024px) {
      .jobCard {
        padding: 15px;
      }
    }
  
    @media (max-width: 768px) {
      .title {
        font-size: 20px;
      }
      
      .jobCard {
        padding: 10px;
      }
    }
  
    @media (max-width: 480px) {
      .title {
        font-size: 18px;
      }
  
      .jobCard {
        padding: 8px;
      }
    }
  }
  